body {

background-color: hsl(325,60%, 60%);



}

p {


    color:hsl(241, 71%, 43%)

}

li {

text-align: center;
color:hsl(241, 71%, 43%)

}

ul {

    text-align: center;
    color:hsl(241, 71%, 43%)
    
    }

    h2 {

font-weight: bold;
font-size:20px ;
text-align: center;
color:hsl(241, 71%, 43%);
display: flex; 
flex-direction: column; 
align-items: center;
margin-left: 30px;



    }

   figcaption {

text-indent: 240px;
color:hsl(241, 71%, 43%);
display:flex;
justify-content: center;
align-items: center;
font-size: 1rem;
margin-left: 1rem;

   }

   h1 {


font-weight:bolder;




   }

    #blackcat {

max-width: 90%;
max-height: auto;



    }


    #whitecat {



        max-width: 90%;
        max-height: auto;
        



    }

    #blackwhitecat {



        max-width: 90%;
        max-height: auto;
        



    }



@media screen and (min-width: 60em) {




    figure {

        display:grid;
        grid-template-columns: 2fr 1fr;





    }
    figcaption {

        display:flex ;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;


    }
}

#lit div{

    max-width:100%;
    columns: 40rem;
    

}

p:first-child::first-letter {


float:left;
font-size: 55px;
line-height: 80%;







}

@media screen and (min-width: 100em) {


#gallery {


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

}

h2 title{ 


    grid-column: 1/-1;



}








}

/* Form Formatting */ 

@media screen and(min-width:60em) {
    form{


        
    }


fieldset{ 




}



}