body {

background-color: hsl(325,60%, 60%);



}

p {


    color:hsl(241, 71%, 43%)

}

li {

text-align: center;
color:hsl(241, 71%, 43%)

}

ul {

    text-align: center;
    color:hsl(241, 71%, 43%)
    
    }

    h2 {

font-weight: bold;
font-size:20px ;
text-align: center;
color:hsl(241, 71%, 43%)
    }

   figcaption {

text-indent: 240px;
color:hsl(241, 71%, 43%)


   }

   h1 {


font-weight:bolder;




   }

    #blackcat {

max-width: 90%;
max-height: auto;



    }


    #whitecat {



        max-width: 90%;
        max-height: auto;
        



    }

    #blackwhitecat {



        max-width: 90%;
        max-height: auto;
        



    }